{% extends 'base.html' %} {% load static %} {% block content %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% language 'de' %}
<section class="section-content padding-y bg">
  <div class="container">

    <div class="row">
      <aside class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Billing Address</h4>
                <form action="{% url 'place_order' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">Nombre</label>
                            <input type="text" name="nombre" class="form-control" required>
                        </div>
                        <div class="col form-group">
                            <label for="">Apellido</label>
                            <input type="text" name="apellido" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="col form-group">
                            <label for="">Numero telefonico</label>
                            <input type="text" name="telefono" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">Direccion 1</label>
                            <input type="text" name="direccion" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">Ciudad</label>
                            <input type="text" name="ciudad" class="form-control" required>
                        </div>
                        <div class="col form-group">
                            <label for="">Comuna</label>
                            <input type="text" name="comuna" class="form-control" required>
                        </div>
                        <div class="col form-group">
                            <label for="">Pais</label>
                            <input type="text" name="pais" class="form-control" required>
                        </div>
                    </div>
                        <div class="form-row">
                            <label for="">Nota de orden</label>
                            <textarea name="orden_notas" rows="2" class="form-control"></textarea>
                        </div>
            </div>
        </div>
      </aside>

      <aside class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                  <tr class="small text-uppercase">
                    <th scope="col">Producto</th>
                    <th scope="col" width="120">Cantidad</th>
                    <th scope="col" width="120">Precio</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cart_item in cart_items %}
                  <tr>
                    <td>
                      <figure class="itemside align-items-center">
                        <div class="aside">
                          <img
                            src="{{ cart_item.product.imagen.url }}"
                            class="img-sm"
                          />
                        </div>
                        <figcaption class="info">
                          <a
                            href="{{ cart_item.product.get_url }}"
                            class="title text-dark"
                            >{{ cart_item.product.nombre }}</a
                          >
                          <p class="text-muted small">
                            {% if cart_item.variations.all %}
                              {% for item in cart_item.variations.all %}
                              {{ item.variation_category | capfirst }}: {{ item.variation_value | capfirst}} <br />
                              {% endfor %}
                            {% endif %}
                          </p>
                        </figcaption>
                      </figure>
                    </td>
                    <td>
                      <label for="">{{cart_item.quantity}}</label>
                    </td>
                    <td>
                      <div class="price-wrap">
                        <var class="price">$ {{ cart_item.sub_total|intcomma }}</var>
                        <small class="text-muted">
                          $ {{ cart_item.product.precio|intcomma }} c/u
                        </small>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <h5 class="h5 text-right">IVA(19%): ${{tax|intcomma}}</h5>
              <h5 class="h5 text-right">Total a pagar: ${{grand_total|intcomma}}</h5>
            <button name="submit" class="btn btn-primary btn-block">Realizar pedido</button>
            <a href="{% url 'store' %}" class="btn btn-light btn-block">Seguir comprando</a>
          </div>
        </div>
    </form>
      </aside>
    </div>
  </div>
</section>
{% endlanguage %}
{% endblock %}